<div id="index_title">

	<%= form_for(:session, :url => sessions_path) do |f| %>
		<div class="content_form">
	  <div class="field">
	    <%= f.label '用户名或邮箱：' %>
	    <%= f.text_field :email,:id => 'textinput_login' %>
	    <%= f.label '密码：' %>
	    <%= f.password_field :password,:id => 'textinput_login' %>
	  </div>
	  <div class="field">

	  </div>
		<div class="field">
		  <%= check_box_tag :remember_me, 1, params[:remember_me] %>
		  <%= label_tag '记住我' %> <%= f.submit "登陆",:id => 'lg_login' %> <%= link_to '注册新账号？', new_user_path %>
		</div>
	</div>
	<% end %>


</div>

