<p id="notice"><%= notice %></p>

<p>
  <b>Chapter:</b>
  <%= @note.chapter_id %>
</p>

<p>
  <b>Que:</b>
  <%= @note.que %>
</p>

<p>
  <b>Ans:</b>
  <%= @note.ans %>
</p>

<p>
  <b>Img url:</b>
  <%= @note.img_url %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
