<h1>呈现页面</h1>
<li><%= link_to 'OBJECT','/establishes/1',:target => "admin_src" %></li>
<li><%= link_to 'ESTABLISHES','/establishes',:target => "admin_src" %></li>
<li><%= link_to 'TIPS','/tips',:target => "admin_src" %></li>
<li><%= link_to 'PARTNER','/partners',:target => "admin_src" %></li>
<h1>管理页面</h1>
<li><%= link_to 'ADMIN_CENTER','/admin/index',:target => "admin_src" %></li>
<li><%= link_to 'NEW ESTABLISH','/establishes/new',:target => "admin_src" %></li>
<li><%= link_to 'NEW CHAPTER','/chapters/new',:target => "admin_src" %></li>
<li><%= link_to 'NEW NOTES','/notes/new',:target => "admin_src" %></li>
<li><%= link_to 'NEW TIPS','/tips/new',:target => "admin_src" %></li>
<li><%= link_to 'NEW PARTNER','/partners/new',:target => "admin_src" %></li>