<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @notification.user_id %>
</p>

<p>
  <b>Message:</b>
  <%= @notification.message %>
</p>

<p>
  <b>Unread:</b>
  <%= @notification.unread %>
</p>


<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
