<%= form_for(@user) do |f| %>
<div class="field">
  <%= f.label :密码 %><br />
  <%= f.password_field :password%>
</div>
<div class="field">
  <%= f.label :确认密码 %><br />
  <%= f.password_field :password_confirmation %>
</div>

<div class="actions">
  <%= f.submit :value => '更改密码' %>
</div>
<% end %>