<div class="content_main">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="new_user_style">
  <div class="field">
	    <%= f.label :姓名 %> <%= f.text_field :name %>
  </div>

<% if signed_in? %>
  <div class="field">
	    <%= f.label :个人简介 %> <%= f.text_field :bio %>
  </div>
<% end %>

  <div class="field">
	    <%= f.label :电子邮件 %> <%= f.text_field :email %>
  </div>


  <div class="field">
	    <%= f.label '密码' %>	
    <%= f.password_field :password %>
  </div>

  <div class="field">
	    <%= f.label '确认密码' %>
    <%= f.password_field :password_confirmation %>
  </div>


  <div class="actions">
    <%= f.submit :value => '提交',:id => 'edit_submit' %>
  </div>
<% end %>
</div>

</div>