<div class="content_main">
<h1>目前用户总数: <%= @users.count %></h1>

<table>
  <tr>
    <th>用户名</th>
    <th>个人简介</th>
    <th>注册时间</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td class="name"><%= image_tag '/images/user.png' %>
<%= user.name %></td>
    <td class="bio"><%= user.bio %></td>
    <td><%= user.created_at.to_date %></td>
  </tr>
<% end %>
</table>

<br />

</div>