<div id="csNav">
	<%= link_to 'title', '#', :id => 'csLogo' %>
<ul>
	<li>
		<%= link_to '首页', '#' %>
	</li>
	<li>
		<%= link_to '公司注册', '#' %>
	</li>
	<li>
		<%= link_to '计算器', '#' %>
	</li>
</ul>


	<%= link_to 'Sign out', '#', :id => 'csUser' %>
	<%= link_to 'Welcom back,', '#', :id => 'csSession' %>


</div>