<script>
	$(document).ready(function() {
	//折叠问题效果
	   $('#faq').find('dt').click(function() {
	     $(this).next().slideToggle();
	   });
	});
</script>

<dl id="faq">
	<% @note.each do |note| %>
	<dt><h1><%= note.que %></h1></dt>
	<dd>
	<div class="xkq">
		<%= link_to '解答','#',:class => 'xhq_ans' %>
	</div>
	<div class="xiq">
		<%= note.ans %>		
	</div>

	</dd>
	<% end %>

	<%= render 'tips' %>

	<%= render 'zhihu' %>
</dl>