<script>
	$(document).ready(function() {
	//折叠问题效果
	   $('#faq').find('dt').click(function() {
	     $(this).next().slideToggle();
	   });
	});
</script>

<dl id="faq">
	<% @note.each do |note| %>
	<dt>
		<h1>
			<%= image_tag '/images/flag.png' %>
			<%= link_to note.que,'javascript:void(0);' %>		
		</h1>
	</dt>
	
	<dd>
	<div class="xkq">
		<%= image_tag '/images/comment.png' %>
	</div>
	<div class="xiq">
		<%=raw note.ans %>
		<%= image_tag '/images/edit.png' %><%= link_to '编辑',edit_note_path(note,:more => params[:more]),:remote => true %>
		<span class="edit_remote" id="xiq_<%= note.id %>">
		</span>
	</div>

	</dd>
	<% end %>

	<%= render 'tips' %>

	<%= render 'zhihu' %>
</dl>


<%= link_to '新增内容',establishes_add_path(:id => params[:more]),:id => 'xtg',:class => 'xb xp xfs',:remote => true %>