<script>
	$(document).ready(function() {
	//折叠问题效果
	   $('#faq').find('dt').click(function() {
	     $(this).next().slideToggle();
	   });
	});
</script>

<dl id="faq">
	<% @note.each do |note| %>
	<dt>
		<h1>
			<%= image_tag '/images/page.png' %>
			<%= link_to note.que,'javascript:void(0);' %>		
		</h1>
	</dt>
	
	<dd>
	<div class="xkq">
		<%= image_tag '/images/cloud_comment.png' %>
	</div>
	<div class="xiq">
		<%= note.ans %>		
	</div>

	</dd>
	<% end %>

	<%= render 'tips' %>

	<%= render 'zhihu' %>
</dl>