<h1>Listing establishes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @establishes.each do |establish| %>
  <tr>
    <td><%= establish.name %></td>
    <td><%= establish.description %></td>
    <td><%= link_to 'Show', establish %></td>
    <td><%= link_to 'Edit', edit_establish_path(establish) %></td>
    <td><%= link_to 'Destroy', establish, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Establish', new_establish_path %>
