<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this pop from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
 	<%= f.cktext_area :content, :toolbar => 'Full', :width => 800, :height => 400 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
