<% @experiences.each do |experience| %>
	<div class="content_warp">
		<h2>
			<%= link_to experience.title,'javascript:void(0);' %>	<img  src="/images/none_user_image.jpg" id="user_image">	
		</h2>
		<div class="content_experiences">
			<%= image_tag '/images/coffee.png' , :id => 'image_coffee'%><li><%= experience.content %></li>
		</div>
		<div id="content_console">
			<li>
			2011-09-09 ding发表 		
			<%= image_tag '/images/comments.png' %><%= link_to '讨论',edit_experience_path(experience) %> 
			<%= image_tag '/images/edit.png' %><%= link_to '删除',edit_experience_path(experience) %> 
			<%= image_tag '/images/trash.png' %><%= link_to '编辑',edit_experience_path(experience) %>
			</li>			
		</div>
	</div>
<% end %>