
<div class="content_main">
	<span><h1>全局日志</h1></span>
	<% @logs.each do |log| %>
	<div class="content_left">
		<div class="content_warp">
				<span id='log_id'>ID:<%= log.id %></span>
				<span id='log_id'>用户：<%= log.user.name %></span>
			    <span id='log_type'><%= log.l_type %></span>
			    <p>主题：<%= log.note.que if !log.note.nil? %>
			<%= log.title %></p>
				<p>内容：<%= log.content %></p>
		</div>
	</div>
	<% end %>
	<div class="content_right">

	</div>
	
		<%= will_paginate @pages %>
</div>

